<template>
  <div class="fixed-center text-center">
    <img id="humanizing-logo" src="~assets/humanizing.png">
    <div class="q-pa-md row items-start q-gutter-md">
    <q-card class="my-card">
          <login-form v-if="loginState === 'login'"></login-form>
          <reset-password v-else-if="loginState === 'resetPassword'"></reset-password>
    </q-card>
    </div>
  </div>
</template>

<script>

import LoginForm from '../components/login/LoginForm'
import ResetPassword from '../components/login/ResetPassword'
export default {
  data () {
    return {
      
    }
  },
  methods: {
    isValidEmail (email) {
      return email.indexOf('@') > 0;
    }
  },
  computed: {
    loginState: function () {
      return this.$store.state.auth.loginState    
    }
  },
  components: {
    LoginForm,
    ResetPassword
  },
  name: 'MainPage'
}
</script>

<style lang="stylus">
  #humanizing-logo
    padding: 10%

  #pepper-robot
    width: 50%
</style>