<template>
    <div>
        <q-card-section>
            <div class="text-h5 q-mt-sm q-mb-xs" align="left">
                Login to {{loginTo}}
            </div>
        </q-card-section>
        
        <q-card-section vertical>
            <q-input outlined v-model="email" label="Email"/>
            <q-input outlined v-model="password" type="password" label="Password"/>
        </q-card-section>

        <q-card-actions vertical align="right">
            <a class="text-blue" @click="resetPassord">reset password</a>
            <q-btn id="loginBtn" color="primary" style="width: 150px" @click="loginRequest">
                Log in
            </q-btn>
        </q-card-actions>        
    </div>
</template>

<script>
    import axios from "axios";
    export default { 
        data () {
            return {
                email: '',
                password: ''
            }
        },
        methods: {
            resetPassord: function () {
                this.$store.dispatch('auth/setLoginSate', 'resetPassword');
            },
            loginRequest: function () {
                if (this.isValidEmail(this.email)) {
                    let data = {
                        'email': this.email,
                        'password': this.password
                    }
                    axios({ method: "POST", "url": process.env.API + "/api/v2/account/login", "data": data})
                    .then(response => this.loginResponse(response))
                    .catch((err) => {
                        console.log(err)
                        alert('Login failure');
                    })
                } else {
                    alert('Email not valid');
                }
            },
            loginResponse: async function (res) {
                console.log(JSON.stringify(res));
                if (res.status === 200 && res.data.responseType === 'SUCCESS' && res.data.token) {
                    this.$store.dispatch('auth/setToken', res.data.token)
                    this.$router.push('/');
                } else {
                    alert('Login failure');
                }
            }
        },
        computed: {
            loginTo: function () {
                if (this.email) {
                    let domain = this.email.split('@')[1] || '';
                    let domainLessDot = domain.split('.')[0];
                    return domainLessDot || '';

                }          
            }
        }
    }
</script>


<style lang="stylus">
    #loginBtn
        margin-top: 5%;
</style>
