<template>
  <div>
        <div v-if="!showMessageCheckEmail">
            <q-card-section>
                <div class="text-h5 q-mt-sm q-mb-xs" align="left">
                    Reset password
                </div>
                <div class="text-grey q-mt-sm q-mb-xs" align="left">
                    Please input a valid email address. We will send you a link to generate your new password
                </div>
            </q-card-section>
            
            <q-card-section>
                <q-input outlined v-model="email" label="Email"/>
            </q-card-section>
            
            <q-card-section> 
                <q-card-actions horitzontal>
                    <q-btn outline color="primary" align="left" @click="onBack">
                        Back
                    </q-btn>
                    <q-space />
                    <q-btn color="primary" align="right" @click="onResetPassword">
                        Reset password
                    </q-btn>
                </q-card-actions> 
            </q-card-section>
        </div>
        <div v-else>
            <q-card-section>
                <div class="q-mt-md q-gutter-md">
                    <q-icon name="check" style="color: green; font-size: 4em;" />
                </div>
                <div class="text-grey q-mt-sm q-mb-xs">
                    We sent you a link to reset your password. Please follow the instructions in the email.
                </div>
            </q-card-section>
        </div>
  </div>
</template>

<script>
    export default { 
        data () {
            return {
                showMessageCheckEmail: false,
                email: '',
                password: ''
            }
        },
        methods: {
            onResetPassword: function () {
                if (this.isValidEmail(this.email)) {
                    this.showMessageCheckEmail = true;
                } else {
                    alert('Email not valid');
                }
            },
            onBack: function () {
                this.$store.dispatch('auth/setLoginSate', 'login');
            }
        }
    }
</script>

<style lang="stylus">
</style>
